#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: PlayerPrefabData(
                // Rendering position and orientation
                transform: (
                    translation: (512.0, 384.0, 0.0),
                    scale: (2.0, 2.0, 2.0),
                ),
                // Information for rendering a sprite
                sprite_render: (
                    // TexturePrefab
                    texture: File(
                        "texture/player.png",
                        Png,
                        TextureMetadata(channel: Srgb),
                    ),
                    // SerializeSpriteSheet
                    sprite_sheet: (
                        // Size of texture
                        spritesheet_width: 832,
                        spritesheet_height: 1344,
                        sprites: [
                            (x: 0,   y: 0, width: 64, height: 64),
                            (x: 64,  y: 0, width: 64, height: 64),
                            (x: 128,  y: 0, width: 64, height: 64),
                            (x: 192,  y: 0, width: 64, height: 64),
                            (x: 256, y: 0, width: 64, height: 64),
                            (x: 320, y: 0, width: 64, height: 64),
                            (x: 384, y: 0, width: 64, height: 64),
                            (x: 0,   y: 64, width: 64, height: 64),
                            (x: 64,  y: 64, width: 64, height: 64),
                            (x: 128,  y: 64, width: 64, height: 64),
                            (x: 192,  y: 64, width: 64, height: 64),
                            (x: 256, y: 64, width: 64, height: 64),
                            (x: 320, y: 64, width: 64, height: 64),
                            (x: 384, y: 64, width: 64, height: 64),
                            (x: 0,   y: 128, width: 64, height: 64),
                            (x: 64,  y: 128, width: 64, height: 64),
                            (x: 128,  y: 128, width: 64, height: 64),
                            (x: 192,  y: 128, width: 64, height: 64),
                            (x: 256, y: 128, width: 64, height: 64),
                            (x: 320, y: 128, width: 64, height: 64),
                            (x: 384, y: 128, width: 64, height: 64),
                            (x: 0,   y: 192, width: 64, height: 64),
                            (x: 64,  y: 192, width: 64, height: 64),
                            (x: 128,  y: 192, width: 64, height: 64),
                            (x: 192,  y: 192, width: 64, height: 64),
                            (x: 256, y: 192, width: 64, height: 64),
                            (x: 320, y: 192, width: 64, height: 64),
                            (x: 384, y: 192, width: 64, height: 64)
                        ]
                    ),
                    sprite_number: 0,
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            EvokeUp,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input:  [0.0, 0.1, 0.2, 0.3, 0.4, 0.9, 1.0],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [0, 1, 2, 3, 4, 5, 6],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        ( 
                            EvokeLeft,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input:  [0.0, 0.1, 0.2, 0.3, 0.4, 0.9, 1.0],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [7, 8, 9, 10, 11, 12, 13],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            EvokeDown,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input:  [0.0, 0.1, 0.2, 0.3, 0.4, 0.9, 1.0],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [14, 15, 16, 17, 18, 19, 20],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),                           
                        ),
                        (
                            EvokeRight,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input:  [0.0, 0.1, 0.2, 0.3, 0.4, 0.9, 1.0],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [21, 22, 23, 24, 25, 26, 27],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ), 
                    ],
                ),
            ),
        ),
    ],
)